<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tsingglobal.system.role.repository.mybatis.TRoleMapper">

    <resultMap id="TRoleDTOResultMap" type="com.tsingglobal.system.role.dto.TRoleDTO"></resultMap>

    <sql id="selectSQL">
        select t.id,t.f_role_code,t.f_role_name from t_role t
    </sql>

    <select id="load" parameterType="Integer" resultMap="TRoleDTOResultMap">
        <include refid="selectSQL"></include>
        <where>
            and t.id = #{id,jdbcType=INTEGER}
        </where>
    </select>

    <select id="queryList" parameterType="com.tsingglobal.system.role.dto.TRoleDTO" resultMap="TRoleDTOResultMap">
        <include refid="selectSQL" />
        <where>

        </where>
    </select>
    
     <delete id="delete" parameterType="long" >
	    delete from t_role where id =#{id,jdbcType=INTEGER}
	  </delete>
	  
	  <update id="update" parameterType="com.tsingglobal.system.role.dto.TRoleDTO" >
	  	update t_role 
	  	set 
	  	where id= #{id,jdbcType=INTEGER}
	  </update>
	  
	  <insert id="save"   parameterType="com.tsingglobal.system.role.dto.TRoleDTO" >
	    insert into t_role  (id)
	    values (#{id,jdbcType=INTEGER})
	  </insert>  

</mapper>